body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    max-width: 960px;
    margin: auto;
}
header {
    text-align: center;
    margin: auto 2em;
}

main { 
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 3em;
}

#mainLeft {
    border-right: 1px solid lightgray;
}
img {
    width: 50%;
    height: auto;
}
button {
    margin-top: .5rem;
    padding: .5rem .7rem;
    font-size: 16px;
}
section {
    margin: auto 1em 4em 2em;
}

i {
    margin-right: .5em;
}

p, li {
    margin: .5em auto
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

h1, h2, h3, h4 {
    font-weight: 100;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: black;
}

@media only screen and (min-width: 200px) and (max-width: 767px) {


main { 
    display: grid;
    grid-template-columns: 35% 65%;
    margin-top: 3em;
}

img {
    width: 70%;
    height: auto;
}

p, li {
    margin: .4em auto;
    font-size: 14px;
}

button {
    margin-top: .6rem;
    padding: .2rem .4rem;
    font-size: 16px;
}

h1, h2, h3, h4 {
    font-size: 16px;
    margin-bottom: 0;
}
}